*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    transition: 0.3s;
}
nav{
    position: fixed;
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
    background-color: rgba(0, 0, 0, 0.347);
    justify-content: space-between;
    align-items: center;
}
nav .Portfolio{
    width: 100%;
    margin: 20px;
    text-transform: uppercase;
}
ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
ul a{
    text-decoration: none;
    color: white;
    padding: 5px 8px;
    border-radius: 8px;
    transition: 0.3s;
}
ul a:hover{
    background-color: rgba(222, 184, 135, 0.381);
}
nav div ul li i{
    cursor: pointer;
    color: aliceblue;
    text-decoration: none;
    padding: 5px 8px;
    border-radius: 8px;
    transition: 0.3s;
    text-shadow: 12px 12px 10px white;
}
ul li i:hover{
    background-color: rgba(222, 184, 135, 0.381);
}
.welcome .content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    text-shadow: 3px 3px 10px rgb(0, 0, 0);
    line-height: 4.5em;
}
#bgimg{
    width: 100%;
    height: 700px;
    background-size: cover;
    background-position: center;
}
.welcome .content h1{
    width: fit-content;
    font-size: 50px;
    opacity: 0.7;
    font-family: 'Pacifico', cursive;
    text-shadow: 0px 0px 10px rgb(8, 0, 255);
}
.welcome .content h3{
    width: fit-content;
    font-size: 30px;
    letter-spacing: 0.8px;
    opacity: 0.8;
    font-family: 'Nunito', sans-serif;
    text-shadow: 0px 0px 10px rgb(255, 0, 0);
}
p{
    word-spacing: 2px;
    letter-spacing: 0.3px;
    padding: 10px 20px;
}
.career{
    padding: 0px 20px;
}
.pr{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.sub_head{
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: burlywood;
    color: aliceblue;
    font-size: 13px;
    transition: 0.3s;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.262);
}
.probox{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.probox::after{
    left: 0;
}
.pimg{
    width: 200px;
    height: 200px;
    overflow: hidden;
    background-color: aqua;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.504);
    transition: 0.3s;
}
.pcontent{
    width: 70%;
}
img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.divider{
    width: 100%;
    height: 3px;
    background-color: brown;
}
.pr{
    display: flex;
}
.p1{
    display: flex;
    justify-content: flex-end;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.p1content{
    width: 70%;
}
.p1img{
    height: 150px;
    width: 150px;
    background-color: aqua;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.504);
}
.p2{
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.p2img{
    height: 150px;
    width: 150px;
    background-color: aqua;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.504);
}
.p2content{
    width: 70%;
}
.skillbox{
    display: flex;
    padding: 20px;
    gap: 10px;
    justify-content: center;
}
.skillimg{
    overflow: hidden;
    width: 150px;
    height: 150px;
    background-color:aqua ;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.504);
}
.skillcontent{
    width: 70%;
    padding: 10px;
}
.cctn{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 13px;
}
.cctnin{
    color: white;
    background-color: rgba(210, 105, 30, 0.718);
    padding: 5px 5px;
    border: solid;
    border-radius: 10px;
    border-color: none;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 5%;
    cursor: pointer;
    padding: 20px;
    font-size: 25px;
}
.bi-instagram{
    color: rgb(255, 0, 162);
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
    filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
}
.bi-instagram:hover{
    background-color:rgba(0, 0, 0, 0.472);
    transition: 0.3s;
    filter: drop-shadow(0px 0px 0px);
}
.bi-facebook{
    color: blue;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
    filter: drop-shadow(0px 0px 5px rgb(255, 255, 255));
}
.bi-facebook:hover{
    background-color: rgba(0, 0, 0, 0.472);
    transition: 0.3s;
    filter: drop-shadow(0px 0px 0px);
}
.bi-envelope-at-fill{
    color: red;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
    filter: drop-shadow(0px 0px 5px rgb(252, 254, 255));
}
.bi-envelope-at-fill:hover{
    background-color: rgba(0, 0, 0, 0.472);
    transition: 0.3s;
    filter: drop-shadow(0px 0px 0px);
}
.bi-github{
    padding: 10px;
    color:white;
    border-radius: 5px;
    transition: 0.3s;
    filter: drop-shadow(0px 0px 5px black);
}
.bi-github:hover{
    background-color:rgba(0, 0, 0, 0.472);
    filter: drop-shadow(0px 0px 0px);
}